.background {
  display: flex;
  width: 100%;
  
}

.photo {
  background-image: url("./monkey.jpeg");
  background-size: cover;
  background-position: center right;
  width: 100vw;
  height: 100vh;
}

.div-button {
  display: flex;
  position: absolute;
  margin-top: 50px;
  margin-left: calc(50% - 130px);
}

.submit-button i {
  padding: 0 10px;
}

.backdrop {
  position: absolute;
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #aaa5;
  transition: visibility 1s ease-in-out;
}

.modal-my {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 60vw;
  height: 50vh;
  background-color: #1116;
  margin-top: 25vh;
  margin-left: 20vw;
  border-radius: 10px;
  visibility: hidden;
}


.modal-title {
  font-size: 26px;
  color: yellow;
  padding: 30px 0;
}

.modal-body {
  font-size: 24px;
  color: aliceblue;
}

.modal-button {
  padding-bottom: 30px;
}

.ok-button {
  padding: 5px 20px;
}

.ok-button i {
  padding-right: 20px;
}

.copyright {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  color: aliceblue;
  font-size: 18px;
}